= simple_form_for (@comment) do |f|
 = f.input :name
 = f.input :email
 = f.input :message, :input_html => {:style => "height: 60px;width:420px;"}

 = f.button :submit, "Comment"
%p{style: "font-size:8px;"}
 * Please do enter Email id's so we can email you Live Wedding Link as soon as it is available and share albums in future. Thank you.